@model WebGoMarkets.Models.TinDang

@{
    ViewData["Title"] = "Delete blog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="TinDang-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminTinDangs" asp-action="Index">Blog list</a>
            <span class="breadcrumb-item active">Delete blog</span>
        </nav>
    </div>
</div>

<div class="TinDang-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="~/images/blogs/@Model.Thumb" alt="@Model.Title">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.Title</h4>
                <p class="text-muted m-b-0">ID: #@Model.PostId</p>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#TinDang-overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#TinDang-content">Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#TinDang-images">TinDang Images</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="TinDang-overview">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">CONFIRM DELETE BLOG: @Model.Title.ToUpper()</h1>
                    <div class="table-responsive">
                        <form asp-action="Delete" asp-route-id="@Model.PostId">
                            <input type="hidden" asp-for="PostId" />
                            <table class="product-info-table">
                                <tbody>
                                    <tr>
                                        <td>TinDang Name:</td>
                                        <td class="text-dark font-weight-semibold">@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td>Alias:</td>
                                        <td>@Model.Alias</td>
                                    </tr>
                                    <tr>
                                        <td>Date Created:</td>
                                        <td>@Model.CreatedDate</td>
                                    </tr>
                                    <tr>
                                        <td>Public:</td>
                                        <td>
                                            <div class="checkbox">
                                                @if (Model.Published)
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <div class="switch d-inline m-r-10">
                                                            <input type="checkbox" disabled="" checked="">
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <div class="switch m-r-10">
                                                            <input type="checkbox" disabled="">
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Confirm delete:</td>
                                        <td>
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="TinDang-content">
            <div class="card">
                <div class="card-body">
                    @Html.Raw(Model.Contents)
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="TinDang-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="/images/blogs/@Model.Thumb" alt="@Model.Title" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>